{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}
<div class="container">
  <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"> <b>sign in</b> </a>.{% endblocktrans %}</p>

<a href="{% provider_login_url 'google' %}">Register with Google</a>
<form id="signup_form" method="POST" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="Email1">Email address</label>
    <input type="email" name="email"  class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="Password1">Password</label>
    <input type="password" name="password1" class="form-control" id="Password1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="Password2">Repeat Password</label>
    <input type="password" name="password2" class="form-control" id="Password2" placeholder="Password">
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>


{% endblock %}
